*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, #ff5fd2 0%, #fe758b 100%);

}
.container {
  background: #fff5f0;
  width: 500px;
  border-radius: 16px;
  padding: 32px 0 24px 0;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 32px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.10);
  display: none;
}
.active {
  display: block;
}
.dot-container {
  width: 140px;
  margin: 0 auto 28px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dot-container button {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background: #ffbde7;
  transition: background 0.3s;
  cursor: pointer;
}
.dot-container button.active,
.dot-container button:nth-child(1) {
  background: #ff69b4;
}
#prev, #next {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 32px;
  background-color: #ff69b4;
  font-size: 24px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  border: none;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.10);
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
}
#prev {
  left: 24px;
}
#next {
  right: 24px;
}
  